body {
    background-image:url(food\ for\ assin.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    text-align: center;
    width: 80%;
    margin-right: 400px;
    padding-left: 300px;

     }
legend{
    font-size: 200%;
}
.info{
    font-size: 150%;
}
textarea{
    height: 100px;
    width: 200px;

}
input{
    height: 30px;
    width: 50%;
}
fieldset{
    width: 50%;
}
h1{
  padding-right: 400px;
}
